@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
body{
  background-color: #E2DEE9;
  padding:4rem 0;
}
.container{
  width: calc(min(100% - 2rem, 768px));
  margin: 0 auto;
}
.card{
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.image-fit-ctn{
  border-radius: 8px;
  overflow: hidden;
}
.image-fit-ctn img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover{
  height: 200px;
}
.avatar{
  width: 48px;
  height: 48px;
}
.avatar.image-fit-ctn{
  border-radius: 100%;
}
.bottom-card{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-detail{
  display: flex;
  align-items: center;
  gap:12px;
}
.user-detail .username{
  color:#A8A6AC;
  font-size: 14px;
}
.user-detail h4{
  color: #2A282F;
  margin-bottom: 1px;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px;
  background-color: #E2DEE9;
  display: inline-flex;
  border-radius: 100%;
}
button svg,
button i{
  pointer-events: none;

}